<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Play Star</title>
  </head>
  <body ontouchstart="">
    <div class="balance_field">
      <div class="balance"></div>
      <div>coins</div>
    </div>
    <div class="modes">
      <div class="first mode">
        <img src="../png/bomb.png" class="bomb" alt="bomb" />
        <a href="../layouts/mines.html"><div class="go button">GO</div></a>
        <img src="../png/golden_clover.png" class="logo" alt="clover" />
      </div>
      <div class="second mode">
        <img src="../png/beer.png" class="beer" alt="beer" />
        <a href="../layouts/slots.html"><div class="go button">GO</div></a>
        <img src="../png/boii.png" class="logo" alt="lepr" />
      </div>
    </div>
    <script src="../scripts/main.js"></script>
  </body>
</html>
