<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/mines.css" />
    <title>Play Star</title>
  </head>
  <body ontouchstart="">
    <div class="wrapper">
      <div class="field_cont">
        <div class="field"></div>
      </div>
      <div class="menu">
        <div class="header">
          <div class="balance_field">
            <div class="balance"></div>
            <div>coins</div>
          </div>
          <a href="./main.html"><div class="home">HOME</div></a>
        </div>
        <div class="bottom">
          <div class="black bomb_control">
            <div class="text">BOMB</div>
            <div class="bombs"></div>
          </div>
          <div class="black button">
            <div class="minus black_button">-</div>
            <div class="bet">0</div>
            <div class="plus black_button">+</div>
          </div>
          <div class="button green">STAKE</div>
        </div>
      </div>
    </div>
    <script src="../scripts/mines.js"></script>
  </body>
</html>
