<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/slots.css" />
    <title>Play Star</title>
  </head>
  <body ontouchstart="">
    <div class="warning">
      <div class="text"></div>
      <div class="button">PLAY AGAIN</div>
    </div>
    <img src="../png/boii.png" alt="lepr" class="lepr" />
    <div class="slot_cont"></div>
    <div class="menu">
      <div class="header">
        <div class="balance_field">
          <div class="balance"></div>
          <div>coins</div>
        </div>
        <a href="./main.html"><div class="home">HOME</div></a>
      </div>
      <div class="header second">
        <div class="bet_button button">BET</div>
        <div class="auto button">AUTO</div>
      </div>
      <div class="black button">
        <div class="minus">-</div>
        <div class="bet">0</div>
        <div class="plus">+</div>
      </div>
    </div>
    <script src="../scripts/slots.js"></script>
  </body>
</html>
