body {
  background-image: url("../png/back_main.png");
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.agreement {
  width: 634px;
  height: 320px;
  overflow: scroll;
  background: rgba(19, 19, 19, 0.9);

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #fff;
}

.text {
  width: 90%;
  margin: 20px auto;
}

.right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  align-items: center;

}

img {
  width: 140px;
  height: 156px;
}
